# dependencies
node_modules/

# next
.next/
out/
.vercel/
tsconfig.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# velite
.velite/

# OS / editor
.DS_Store
.vscode/
.vercel
.env*.local
twilio/
